---
permalink: /
layout: archive
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
  - /about/
  - /about.html
---

I am a fourth-year Ph.D student in the Computational Imaging Group (CIG) from ESE Department at Washington University in St. Louis (WashU), advised by  <a href="https://cigroup.wustl.edu/">Professor Ulugbek S. Kamilov</a>. Before starting the Ph.D, I received the B.Sc. degree in electronic and information engineering from University of Electronic Science and Technology of China (UESTC), Chengdu, China, in 2017, and the M.S. degree in electrical and engineering, in 2018, from Washington University in St. Louis, St. Louis, MO, USA. I'm currently pursuing the Ph.D. degree with the Computational Imaging Group. My research interests include inverse problems, deep learning, and computational imaging. Feel free to contact me if you are interested in our research !

<p>&nbsp;</p>

<h1> News </h1>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<div style="display: none;">
  <h6>Page views:</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680519&style=0007&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
  <h6>Unique visitors</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680520&style=0007&nbdigits=5&type=ip&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
</div>
